services:
  - type: web
    name: harmony-pets
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "cd harmony_pets && gunicorn harmony_pets.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.0
      - key: DEBUG
        value: False
      - key: USE_DB
        value: web
      - key: SECRET_KEY
        generateValue: true
      - key: ALLOWED_HOSTS
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 5432
      - key: DB_SSLMODE
        value: require
      - key: EMAIL_BACKEND
        value: django.core.mail.backends.smtp.EmailBackend
      - key: EMAIL_HOST
        sync: false
      - key: EMAIL_PORT
        value: 587
      - key: EMAIL_USE_TLS
        value: True
      - key: EMAIL_HOST_USER
        sync: false
      - key: EMAIL_HOST_PASSWORD
        sync: false
      - key: DEFAULT_FROM_EMAIL
        sync: false
      - key: GOOGLE_MAPS_API_KEY
        sync: false
      - key: ACCOUNT_DELETION_ENABLED
        value: True

  - type: pserv
    name: harmony-pets-postgres
    runtime: postgresql
    plan: starter
    ipAllowList: []
